bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
.vsconfig
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
packages/
*.nupkg
*.snupkg
.nuget/
.nuget/packages/
*.log
*.tmp
*.temp
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
*.dmp
.idea/
*.iml
publish/
artifacts/
appsettings.Development.json
appsettings.Local.json
